/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-attachment: fixed;
  color: var(--text-color);
}

.header {
  min-height: 668px;
  height: 100vh;
  justify-items: end;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--padding-content);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  position: relative;
}

.header__rec {
  position: absolute;
  inset-inline-end: calc(var(--padding-content) + 28px);
  inset-block-start: var(--padding-content);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: 1.39;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  inset-inline-start: 100%;
  margin-inline-start: 10px;
  inset-block-start: 10px;
}

.theme-dark .header__rec,
.theme-auto .header__rec {
  display: block;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  display: block;
  appearance: none;
  padding: 2px 13px 4px;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: 1;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  font-size: var(--font-size);
  font-weight: bold;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

/* Декоративные уголки */
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--padding-content);
  inset-block-start: var(--padding-content);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--padding-content);
  inset-block-end: var(--padding-content);
}

.content {
  padding: var(--padding-content);
  padding-top: 20px;
}

.content > .section__first {
  margin-block-start: 20px;
}

.section + .section {
  margin-block-start: 50px;
}

.section__content {
  margin-block-start: 20px;
}

.section__title {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-block-end: 20px;
  color: var(--section-title-color);
  font-weight: 700;
  text-align: left;
}

.section__subtitle {
  font-size: var(--font-size);
  margin-block-start: 20px;
  margin-block-end: 10px;
  text-align: left;
}

.section__text {
  margin-block-start: 10px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: left;
}

.shadowed {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.title-decor_normal {
  font-weight: normal;
  margin-block-start: 20px;
}

.gallery {
  width: 100%;
  box-sizing: border-box;
  margin-block-start: 52px;
}

.gallery__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 100%;
  justify-items: center;
  object-fit: contain;
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery__image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 34px;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Адаптив */
@media (width >= 768px) {
  .header {
    min-height: 768px;
  }

  .header__title {
    justify-self: start;
    margin-left: -20px;
  }
  
  .header__subtitle {
    justify-self: end;
    align-self: center;
    max-width: 50%;
  }

  .header + .section {
    margin-top: 60px;
  }

  .content {
    padding-top: 40px;
  }

  .section__first {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .section + .section {
    margin-top: 80px;
  }

  .section__second {
    margin-block-start: 30px;
  }

  .content > .section__first {
    margin-block-start: 0;
  }

  .section__title {
    margin-block-start: 20px;
  }

  .section__content {
    margin-block-start: 0;
    align-items: start;
  }

  .section__content .section__title:not(:first-child) {
    margin-top: 10px;
  }

  .section__second .section__title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .section__third {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .section__third .section__title {
    margin-block-start: 0;
  }

  .section__third .section__content .section__subtitle {
    margin-block-start: 0;
  }

  .gallery {
    margin-block-start: 80px;
  }

  .gallery .section__subtitle {
    margin-block-start: 0;
    margin-block-end: 20px;
  }

  .gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image {
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .gallery__image:first-child,
  .gallery__image:last-child {
    grid-column-start: span 2;
  }

  .gallery__image:nth-child(2),
  .gallery__image:nth-child(3) {
    grid-row-start: span 2;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .section__first {
    grid-template-columns: 32% 66%;
  }

  .section__third {
    grid-template-columns: 32% 66%;
  }

  .section__second .section__title {
    margin-block-end: 0;
  }

  .section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: absolute;
  }
}
